<div class="text">
  <div class="col-6">

    <% @movies.each do |movie| %>
      
      <%= link_to movie.title, movie %>
      <%# <%= link_to 'Edit', edit_movie_path(movie) %>
      <%# <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movie.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      

      <% movie.comments.last(3).each do |comment| %>
        <p>
          <%= comment.user.name %>
          <%= truncate(comment.body, length: 30) %>
          <% if current_user.id == comment.user.id %>
            <%= link_to t(".delete"), comment_path(comment), method: :delete, data: {confirm: '削除してよろしいですか？'} %>
          <% end %>
        </p>
      <% end %>




      <%= form_with model: @comment, url: comments_path, class: "form-group row mx-auto ", local: true do |f| %>
        <%= f.hidden_field :movie_id, value: movie.id %>
        <%= f.text_field :body, class: "col-6 form-control" %>
        <%= f.submit t(".submit"), class: "col-4" %>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>